*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: url("./assets/squares.jpg") center/cover no-repeat;
  height: 100vh;
}
form {
  position: relative;
  width: 600px;
  padding: 4rem;
  background: url("./assets/logo-image.png") center/contain no-repeat;
  transition: all ease 0.2s;
  border-radius: 15px;
  border: 10px solid #086889a8;
  box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

form h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}

input,
button {
  padding: 0.4rem;
  display: block;
  margin-bottom: 1rem;
}
input {
  border: 1px solid #e5e7eb;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
  outline: none;
}

.error {
  border-color: #e11616;
  box-shadow: 0 0 8px rgb(219, 42, 75, 0.5);
}

.first-and-last-name,
.email-phone-number,
.password-confirm-password {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.button-and-paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.button-and-paragraph p {
  margin-top: 0.3rem;
}

button {
  background-color: #086889a8;
  color: white;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.password-container {
  position: relative;
}

.password-toggle {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background-color: #3a5765;
  position: absolute;
  right: 2px;
  transform: translateY(-174%);
}

.error-message {
  color: red;
  margin-top: 5px;
}
