*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: url("./assets/squares.jpg") center/cover no-repeat;
  height: 100vh;
}
form {
  width: 600px;
  background-color: rgba(255, 255, 255, 0.7);
  transition: all ease 0.2s;
  border-radius: 15px;
  border: 10px solid #086889a8;
  box-shadow: 0px 5px 10px 0px rgba(0, 255, 255, 0.7);
}

form:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 255, 255, 0.7);
}
label, input, button {
    display: block;
    margin-bottom: 10px;
}